.darglint
.flake8
.git
.github
.gitignore
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache/
.tox/
.nox/
cover/
env/
ENV/
tests/
venv/
config.env
config.env.sample
tox.ini
.env
.venv
*.egg-info
*.env
*.sample
*.zip
