alpaca-py==0.40.0 ; python_version >= "3.11" and python_full_version < "4.0.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_full_version < "4.0.0"
certifi==2025.4.26 ; python_version >= "3.11" and python_full_version < "4.0.0"
charset-normalizer==3.4.2 ; python_version >= "3.11" and python_full_version < "4.0.0"
hurst==0.0.5 ; python_version >= "3.11" and python_full_version < "4.0.0"
idna==3.10 ; python_version >= "3.11" and python_full_version < "4.0.0"
msgpack==1.1.0 ; python_version >= "3.11" and python_full_version < "4.0.0"
numpy==2.2.5 ; python_version >= "3.11" and python_full_version < "4.0.0"
pandas==2.2.3 ; python_version >= "3.11" and python_full_version < "4.0.0"
psycopg2==2.9.10 ; python_version >= "3.11" and python_full_version < "4.0.0"
pydantic-core==2.33.2 ; python_version >= "3.11" and python_full_version < "4.0.0"
pydantic==2.11.4 ; python_version >= "3.11" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_full_version < "4.0.0"
pytz==2025.2 ; python_version >= "3.11" and python_full_version < "4.0.0"
requests==2.32.3 ; python_version >= "3.11" and python_full_version < "4.0.0"
six==1.17.0 ; python_version >= "3.11" and python_full_version < "4.0.0"
sseclient-py==1.8.0 ; python_version >= "3.11" and python_full_version < "4.0.0"
typing-extensions==4.13.2 ; python_version >= "3.11" and python_full_version < "4.0.0"
typing-inspection==0.4.0 ; python_version >= "3.11" and python_full_version < "4.0.0"
tzdata==2025.2 ; python_version >= "3.11" and python_full_version < "4.0.0"
urllib3==2.4.0 ; python_version >= "3.11" and python_full_version < "4.0.0"
websockets==15.0.1 ; python_version >= "3.11" and python_full_version < "4.0.0"
